@charset 'utf-8';
#root {
  position: relative;
  height: 100%;
  overflow: auto;
}
.layout {
  min-width: 1200px;
  min-height: 100%;
  padding-top: 40px;
}
.left-nav {
  background: #324157;
}
.move-enter-active,.move-leave-active{
    transition: opacity .5s;
}
.move-enter,.move-leave{
    opacity: 0;
}